<form autocomplete="off">
    {{> "sds.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "SdS.Mana"}}</label>
        <input type="number" name="mana.max" value="{{source.max}}"
        placeholder="{{mana.max}}">
    </div>
</form>
