<form autocomplete="off">
    {{> "sds.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "SdS.Mana"}}</label>
        <span class="form-field-readonly">{{mana}}</span>
    </div>
    <div class="form-group">
        <label>{{localize "SdS.ManaPercentage"}}</label>
        <span class="form-field-readonly">{{mana_percentage}}</span>
    </div>
</form>
